<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="/">Main page</a></li>
        <li><a href="/find">Find</a></li>
    </ul>
</div>

<form action="/find" method="POST">
	<input type="text" placeholder="Search in format Type:title" name="Finder" size=40/><br>
	<input type="submit" value="submit"/>
</form>

{{ range .results}}
	<p> {{ .Band }} </p>
{{ end }}