<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="/">Main page</a></li>
        <li><a href="/find">Find</a></li>
    </ul>
</div>

<form action="/" method="POST">
		<input type="text" placeholder="Band" name="Band" size=40/><br>
		<input type="text" placeholder="Album" name="Album" size=40/><br>
		<input type="text" placeholder="Members" name="Members" size=40/><br>
		<input type="text" placeholder="Year" name="Year" size=40/><br>
		<input type="submit" value="submit"/>
</form>
